* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(17, 17, 17);
  color: #ededed;
  /* display: flex; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.Logo {
  font-size: 40px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 14px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}

.navbar a:hover,
.navbar a.active {
  color: grey;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 19%;
}

.home-content {
  max-width: 600px;
}

.btn-box {
  font-size: 20px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
}

.home-content h1{
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 20px;
}

.home-content .btn-box{
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 40px;
}

.btn-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 90%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 17px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0,4px;
  
} 
 
.btn-box a:nth-child(1){
  background: transparent;
  color: #ededed;
}

.btn-box a:nth-child(1):hover{
  background: transparent;
  color: #000000;
  transition: .5s;
}

.btn-box a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before{
  width: 100%;
}
section {
  padding-top: 5rem;
}
.home-sci{
  position: absolute;
  bottom: 40px;
  width: 170px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.home-sci a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 30px;
  color: #ededed;
  text-decoration: none;
}

.center {
  display: flex;
  font-size: 120%;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
}

.th, td {
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.th {
  background-color: transparent;
}